.cond {
  padding: 70px 0 160px;
  margin-bottom: 35px;

  background: url(../img/cond-bg.png);
  background-size: 150% 150%;
  background-position: 50% 70%;
}
.cond-text {
  padding: 0 16px 70px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.cond__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 1px;
  margin-bottom: 48px;
}

.cond__description {
  color: var(--text-secondary);
  font-weight: 400;
  text-align: center;   

  font-size: 18px;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}
.cond-block {
  display: grid;
  grid-template-columns: 53fr 66fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.cond__item {
  padding: 50px 50px 55px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: relative;
}

.cond__item span {
  display: block;
  font-weight: 900;
  font-size: 96px;
  line-height: 100%; 
  letter-spacing: -0.96px;
  margin-bottom: 25px;
}

.cond__item__title {
  padding: 10px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -0.36px;
}

.cond__text {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: -0.2px;
  /* margin-bottom: 50px; */
}

.cond__item-img {
  margin-top: 50px;
}

.cond__item:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.cond__item:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 4;
}

.cond__item:nth-child(3n),
.cond__item:first-child {
  padding-left: 218px;
}

.cond__item:nth-child(3n) span,
.cond__item:first-child span {
  position: absolute;
  left: 50px;
}

.cond__item:nth-child(4) {
  grid-row-start: 3;
  grid-row-end: 5;
}

.cond__item:nth-child(5) {
  grid-row-start: 4;
  grid-row-end: 6;
}

.cond__item:nth-child(6) {
  grid-row-start: 5;
  grid-row-end: 7;
}

.cond__item:nth-child(7) {
  grid-row-start: 6;
  grid-row-end: 8;
}
