.complect-wrapper {
  background: #fff;
}

.complect-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding: 75px 0 100px;
}

.complect-block * {
  color: var(--bg-dark);
}

.complect-heading {
  width: 300px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.complect-heading__title {
  margin: -50px 0 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: var(--bg-dark);
  font-family: Helvetica Neue, sans-serif;
  letter-spacing: -0.48px;
}

.complect-heading__description {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 100%; /* 14px */
  letter-spacing: -0.14px;
}

.complect__item-description {
  height: 100%;
}

.optima {
  margin-top: 28px;
  font-family: Helvetica Neue, sans-serif;
  font-size: 32px;
  line-height: 100%; /* 32px */
  letter-spacing: -0.32px;
}

.description {
  margin: 9px 0 12px;
  color: var(--text-description);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
}

.complect {
  font-family: Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: -0.2px;
}

.price,
.price_last {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px; /* 100% */
  letter-spacing: -0.24px;
  margin-top: 24px;  
}

.price_last {
  margin-top: 49px;
}
