.order {
  position: relative;

  background: url("../img/order-bg.png");
  background-size: cover;
}
.order-block {
  padding: 166px 0 315px;
}
.order__title {
  text-align: center;
}
.order__form {
  margin: 0 auto;
  width: 680px;
  margin-top: 90px;
}
.input__label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.input__label_legend {
  margin-left: -12px;
}
.order__input {
  display: block;
  width: 400px;
  margin-bottom: 18px;
  border: none;
  border-radius: 20px;
  padding: 13px 20px;

  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  
  background: var(--bg-input);
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order__variants {
  display: block;
  margin: 2px 18px 6px 9px;
  background: var(--bg-order);
  border-radius: 20px;
  padding: 15px 25px;
  position: relative;
}
.complect__variant {
  display: flex;
  gap: 25px;
  align-items: center;
}
.order__variants input {
  position: absolute;
  left: -20px;
  top: 2px;
}

.complect__item-description {
  display: flex;
  flex-direction: column;
  align-items: start
}

.pl {
  padding-left: 27px;
}

.order__variants img {
  width: 80px;
}
.order__variants h4 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 20px;
  color: var(--bg-dark);
}
.order__variants .complect {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 14px;
  color: var(--text-description);
}
.form__description {
  margin: 14px 0 30px;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.18px;
}

.order-btn {
  padding: 13px 53px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
