.footer-content {
  width: 100%;
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

address {
  font-style: normal;
}

.footer-logo {
  margin-top: 16px;
  line-height: 1.3;
}